<?xml version="1.0" encoding="utf-8"?>
<RewriterConfig>
  <Rules>
    <RewriterRule>
      <LookFor>~/(case|dynamic|index|project|contact).html</LookFor>
      <SendTo>~/$1.aspx</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/casedetail/([0-9]+).html</LookFor>
      <SendTo>~/casedetail.aspx?id=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/newsdetail/([0-9]+).html</LookFor>
      <SendTo>~/newsdetail.aspx?id=$1</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>~/sharedetail/([0-9]+).html</LookFor>
      <SendTo>~/sharedetail.aspx?id=$1</SendTo>
    </RewriterRule>
    
  </Rules>
</RewriterConfig>